*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #04AA6D;
    --background-color: #333;
    --hover-color: #000;
}

/* icon__bar */
.icon__bar{
    background-color: var(--background-color);
    width: 90px;
}

.icon__bar a{
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: var(--primary-color);
    font-size: 32px;
}
.icon__bar a:hover{
    background-color: var(--hover-color);
}
.active{
    background-color: var(--secondary-color);
}

